In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score ,confusion_matrix ,recall_score ,precision_score
from sklearn.preprocessing import LabelEncoder , StandardScaler

# Discover Data

In [2]:
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Featuer Selection

In [6]:
lb = LabelEncoder()
df["target"] = lb.fit_transform(df["species"])
df.drop("species", axis=1 , inplace=True)

In [7]:
df.corr()["target"].sort_values(ascending=False)

target          1.000000
petal_width     0.956464
petal_length    0.949043
sepal_length    0.782561
sepal_width    -0.419446
Name: target, dtype: float64

In [8]:
x = df.drop('target' , axis = 1)
y = df["target"]

In [9]:
x_train ,x_test , y_train , y_test = train_test_split(x , y ,test_size=0.3 , random_state=42)

In [10]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train[["petal_width" , "petal_length", "sepal_length","sepal_width"]])
x_test_scaled = scaler.transform(x_test[["petal_width" , "petal_length", "sepal_length","sepal_width"]])

In [11]:
model = KNeighborsClassifier()

In [12]:
model.fit(x_train_scaled , y_train)
y_pred = model.predict(x_test_scaled)

In [17]:
print("#"*35)
print("confusion_matrix \n",confusion_matrix(y_pred=y_pred , y_true=y_test))
print("#"*35)
print("accuracy_score ",accuracy_score(y_pred=y_pred , y_true=y_test))
print("#"*35)
print("precision_score ",precision_score(y_pred=y_pred , y_true=y_test , average='weighted'))
print("#"*35)
print("recall_score ",recall_score(y_pred=y_pred , y_true=y_test , average='weighted'))
print("#"*35)

###################################
confusion_matrix
 [[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]
###################################
accuracy_score  1.0
###################################
precision_score  1.0
###################################
recall_score  1.0
###################################